################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/BlogAPI/.vs/BlogAPI/DesignTimeBuild/.dtbcache.v2
