@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root{
  --gold:#d9caa9;
  --lgreen:#03b300;
  --dgreen:#459772;
  --gray:#666;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url(/public/background.jpg);
  background-size: 89px;
}
::selection {
  color: #f2f2f2;
  background: rgb(0 0 0 / 20%);
}

::-webkit-scrollbar {
  width: 8px;
}

:hover::-webkit-scrollbar-track,
:hover::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 15%);
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 5%);
  border-radius: 12px;
}


.Toastify__toast{
  background: rgba(255, 255, 255, 0.1) !important;
  color: #222 !important;
  border-radius: 15px !important;
  box-shadow: 0 20px 50px rgb(0 0 0 / 15%);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}